.sign-up {
    margin: 30px auto;
    width: 80%;

    h1 {
        text-align: center;
    }

    &__btn {
        display: block;
        margin: 30px auto;
        width: 20%;
        height: 40px;
    }

    div {
        margin: 40px auto;
    }

    #password_strength {
        display: none;
    }
}

.sign-up p {
    text-align: center;
}

.password-strength {
    border: 2px solid grey;
    border-radius: 10px;
    width: 50%;

    margin: 20px 0 !important;
    // display: none;
    padding: 10px;

    &__title {
        text-align: center;
    }

    p {
        margin: 0;
        text-align: left;
    }

    &__state {
        height: 10px;
        border: 1px solid;
        border-radius: 10px;

        &__filler {
            height: 100%;
            background-color: blue;
            width: 0;
            margin: 0 !important;
        }
    }

    &__statuses {
        &__status {
            font-weight: bold;

            &.active {
                color: rgb(10, 196, 10);
            }
        }
    }
}

